[Unit]
Description=chequea batería cada 5min

[Timer]
OnStartupSec=1min
OnUnitActiveSec=5min
Unit=battery-check.service

[Install]
WantedBy=timers.target
