[Unit]
Description=check battery
Wants=battery-check.service

[Service]
Type=oneshot
Environment=DISPLAY=:0
ExecStart= /home/fj/.local/bin/notif_battery
