[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=/home/fj/.local/bin/rofi_radio.sh
Name=Radio
GenericName=Radio Tunner
Icon=rofi
